@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
html, body {
    width: 99.5%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.599)
} */

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  list-style: none;
  padding: 0px;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* //align-items: center; */
}



.header {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  /* justify-items: left; */
  background-color: rgb(81, 78, 84);
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

/* .header > div {
  justify-items: left;
} */

.side_bar {
  height: 100%;
  width: 302px;
  background-color: gray;
}

.main_content {
  height: 100%;
  width: 100%;
  background-color: #dfdfdc;
  text-align: center;
  /* justify-content: center; */
  display: flex;
  position: relative;
  overflow: hidden;
  


  /* padding-left: 500px;
    padding-right: 500px; */
}

.bg-main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  background-image: url("../assets/cool-background.png");
  z-index: 1;
}

/* .header-name {
  text-align: left;
  font-size: 18px;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
/* } */ 
.header-name {
    display: flex;
    text-align: left;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.header-name:hover{
    color: black;
}

.nav-items {
  /* //font-size: large;
    //font-weight: 100; */
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: greenyellow; */
  width: 400px;
  list-style: none;
}
.name{
    padding-left: 10px;
}

.nav-item {
  align-items: center;
  justify-content: center;
  height: 40px;
  display: flex;
  text-decoration: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 20px;
  /* background-color: rgb(169, 165, 161); */
}

.nav-item:hover {
  color: rgb(0, 0, 0);
}

.header-content {
  width: 154vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content_block{
  justify-content: center;
  height: 1000px;
}

.card{
  flex-grow: 1;
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding-top: 10px;
  margin: 10px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.selection{
    display: flex;
    flex-basis: 200;
}

.large-image {
  position: relative;
    display: block;            /* To make centering easier */
    margin: 0 auto;  
    display: block;          /* Center the image horizontally */
    /* max-width: 100%;         */
    height: auto;              /* Maintain the aspect ratio */
    object-fit: cover;  
    width: 100%;
    height: 100%;
  }

  .center-image {
    display: block;            /* To make centering easier */
    margin: 0 auto;            /* Center the image horizontally */
    max-width: 100%;           /* Make the image responsive to the width */
    height: auto;              /* Maintain the aspect ratio */
    object-fit: cover;         /* Ensures the image covers the area */
  }

  .profile-img {
    display: flex;
    width: 50px;
    height: 52px; /* Ensure height matches width for a perfect circle */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* Ensures the image covers the circle area */
    border: 2px solid #ddd; /* Optional: Adds a border around the image */
}

footer {
    height: 35vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

.footer-upper{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    height: 166px;
    width: 145vh;
}

.footer-lower {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 145vh;
  border-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-top: 0.5px solid rgb(95 94 94);
  text-align: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
}
/* .footer-lower ::before{
  content: "";
  position: absolute;

} */

.upper-footer-content{
  /* display: flex; */
  width: 421px;
  flex-direction: column;
}

.upper-footer-content > span{
  height: 50px;
  padding-bottom: 10px;
}

.social-media-content{
  height: 31px;
}

.nav-social-media-icon{
  display: flex;
}

.icons {
    height: 39px;
    width: 38px;
    margin: 5px;
  
}
.icons:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.icons1 {
  height: 43px;
  width: 43px;
  margin: 5px;
  border-radius: 21px;
}
.icons1:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}


.nav-icon{
  padding-top: 21px;
}

.footer-content{
  padding-top: 21px;
}

.social{
  padding-left: 4px;
  letter-spacing: 4px;
}

.low-footer-content{
  padding-left: 10px;
  font-size: 12px;
  color: #ffffff;
}

/* .main_content {
  position: relative; /* Make sure the main container is positioned */
/* } */ 

/* .image-container {
  position: relative; /* Container for the image and overlay */
/* } */ 

/* .large-image {
  display: block; /* Ensures the image behaves as a block element */
  /* width: 100%; Ensures image scales within its container */
  /* height: auto; Maintains aspect ratio */
/* } */ 

.overlay-content {
  position: absolute;
  top: 35%;
  width: 68px;
  height: 28%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 3;
}

.nav-social-media-icon1{
  padding-left: 8px;
}

.icons:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}


.overlay-content2{
  position: absolute;
  z-index: 3;
  right: 69vh;
  top: 39vh;
  height: 261px;
  width: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container{
  position: relative;
}
.main-center-content{
  font-size: 20px;
  margin-top: 20px;
}

.split-line{
  margin-top: 10px;
  height: 5px;
  width: 24px;
  background-color: rgb(105, 9, 9);
  border-radius: 5px;  
}
.overlay-name{
  font-size: 50px;
  letter-spacing: 5px;
}

.project-button{
  display: flex;
  background-color: #000000;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  z-index: 6;
  height: 53px;
  width: 189px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  top: 64vh;
  right: 98vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.project-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.main-content2{
  position: relative;
  height: 93vh;
  background-color: #efeeee;
}

.main-content2-content1{
  position: absolute;
  /* z-index: -1; */
  right: 69vh;
  top: 2vh;
  height: 261px;
  width: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-content2-content2{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 137vh;
  top: 30vh;
  right: 33vh;
  font-size: 18px;
  height: 59vh;
}

.main-content2-content1-p{
  margin-top: 35px;
  font-size: 20px;
  color: rgb(91, 90, 90);
  width: 60vh;
}

.contact-button{
  position: absolute;
  top: 52vh;
  background-color: #000000;
  height: 53px;
  width: 155px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.contact-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.skills_skill{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.my-skills-cards{
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-top: 39px;
}

.skill-card{
  padding-left: 138px;
}

.main-content3{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.main-content3-container{
  padding-top: 10px;

}
.project-intro{
  /* z-index: -1; */
  height: 261px;
  width: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}