/* 
html, body {
    width: 99.5%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.599)
} */

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 10vh;
    display: flex;
    background-color: rgb(21, 23, 69);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height: 20vh;
    display: flex;
    background-color: rgb(44, 32, 60);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-style: italic;
}



